{
  "env": {
    "browser": true,
      "node": true
  },
  "globals": {
    "Promise": false
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  plugins: ["vue"],
 "extends": "standard"
}
